html {
    margin:0;
}
body {
    background-color: rgb(32, 32, 32);

    color: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.grid {
    margin: 10%;
    padding: 10px;
    height: 600px;
    width: 600px;
    border: 1px solid white;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.cell {
    margin: .5%;
    height: 14%;
    width: 14%;
    border: solid 1px white;
}